*.aiderscript
*.wasm

bin
.DS_Store
tmp
mprocs.log
mprocs.yaml
*.swp
*.swo
*.log
*~
*.out
*.test
*.prof
coverage.out
coverage.html
.idea
.vscode
/vendor
/build
/dist
/.env
/.envrc
.aider*

go.work
go.work.sum
go.work.mod
go.work.sum

# Ignore the following files
# Ignore the following files
mpc/enclave/enclave.json
